// Buttons
//
//


$btn-padding-wide: rem(20px);

.btn {
  display: inline-block;
  box-sizing: border-box;
  height: rem(30px);
  border: 1px solid gray;
  padding: 0 1.5em;
  line-height: rem(29px);
  font-size: $font-size-small;
  cursor: pointer;
  outline: none;
}

.btn-white {
  color: #fff;
  border-color: #fff;
  background: transparent;
}

.btn-large {
  height: rem(30px);
  line-height: rem(28px);
}
.btn-wide {
  padding-left: $btn-padding-wide;
  padding-right: $btn-padding-wide;
}

.btn-corner-rounded {
  display:inline-block;
  border-radius: 100px;
}

.more-arrow {
  background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhChAOLwuENeFWAAAAcElEQVRIx+2RUQ2AMAwFDzIBDQomYUhACTjFAkre5mAooCTbF2T97btrm4JTisrKSl5m9poYhnH6Crd0qKq+bTEUQ/EDxaRIbHDsHEBhm5Sx5lWgzB0wAIG174SmqZ1/GPjAv4endzy4hkIBtuV6jtyiBN58C+r4egAAAABJRU5ErkJggg==');
  background-size: cover;
  background-repeat:no-repeat;
  width:rem(12px);
  height:rem(12px);
  object-fit: contain;
  display:inline-block;
}