//
// Top
//

#top {
  overflow: hidden;
  position: relative;
  background-color:$hero-bg-color;
  width:100vw;
  height:100vh;
  @extend %full-screen;
  > .wrapper {
    z-index: 1;
    position: relative;
    height: 100%;
  }
      .box {width: 100%;}
    /*비례 유지하면 사이즈 조절하기*/
    .motion1-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      /*padding-bottom: 56.26%; 비례 유지하면 사이즈 조절하기*/
      padding-bottom: 62.05%;
    }
    .motion1-wrapper .wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #animation_container,
    #canvas,
    #dom_overlay_container,
    #_preload_div_{
      width: 100%!important;
      height: 100%!important;
    }
  .hero {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    &--map {
      position:absolute;
      left:calc(50% - 590.5px);
      top:calc(50% - 354.5px);
      background-size: contain !important;
      width:1181px;
      height:709px;
      display:block;
      &.greydot {
        z-index: 1;
        background: url('../img/hero/map_greydot.png') 50% 50%/cover no-repeat;
      }
      &.orangedot {
        opacity: 0;
        background: url('../img/hero/map_orangedot.png') 50% 50%/cover no-repeat;
      }
    }
    &--obj {
      position:absolute;
      background-size: cover;
      &.title {
        width: rem(503px);
        height: rem(324px);
        background: url('../img/hero/hero_title.png') 50% 20%/60vw no-repeat;
        left: calc(50% - 30vwx);
      }
      &.kanarb {
        width: rem(497px);
        height: rem(423px);
        background: url('../img/hero/kanarb.png') 0 0/cover no-repeat;
        left: calc(50% - 249px);
        top: calc(50% - 211px);
      }
    }
  }

  .top-intro  {
    position: absolute;
    bottom: 0px;
    left: 0;
    right:0;
    padding-bottom: rem(128px);
    .text {
      left: 0px;
      font-weight: 400;
      font-size: rem(15px);
      line-height: rem(32px);
      text-align: center;
      color: $br-gray-color;
    }
  }

  .top-indicator {
    position: absolute;
    bottom: 0px;
    left: 0;
    right:0;
    padding-bottom: rem(60px);
    .link {
        display: block;
        width: 24px;
        height: 16px;
        margin: rem(15px) auto 0;
        background: url('../img/hero/icon-arrow-down.svg') 50% 50% no-repeat;
    }
  }
}
