#background {
    @extend %section-top-margin-narrow;
    margin-bottom:0;
	.bg_background {
		background-image: url('../img/background/background_bg.png');
		background-position:50% 50%;
		background-size:contain;
		width:100%;
		padding-bottom:rem(100px);
	}
	.container.col2.type-a {
		.col {
			position:relative;
		}
		.col:nth-child(1) {
			span.phamIcon {			
				background-image: url('../img/background/phamStreetIcon.svg');
				width:176px;
				height:55px;
				display:block;
				margin:rem(50px) 0 0 rem(120px);
			}
			span.speechBubble {
				position: absolute;
				left:0px;
				top:rem(-35px);
				background-image: url('../img/background/speech_1.svg');
				width:rem(120px);
				height:rem(120px);
				display:block;
				p {
				  width: 100%;
				  height: 56px;
				  font-family: SpoqaHanSans;
				  font-size: rem(18px);
				  font-weight: bold;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.33;
				  letter-spacing: normal;
				  text-align: center;
				  color: rgb(255, 255, 255);
				  padding:rem(36px) 0 rem(28px);
				}
				&:after {
					content:'';
					background-image: url('../img/background/speech_2.svg');
					width:rem(18px);
					height:rem(18px);
					display:block;
					position:absolute;
					right: -6px;
				    bottom: calc(50% - 37px);
				}
			}
		}
	}
	#video1 {
		width: 1080px;
		height: 607px;
		display:block;
		background-color:#121212;
		// padding-bottom:rem(87px);
	}
	.bg_sceneTween {
		position:relative;
		width:100%;
		height:rem(750px);
		z-index: -1;
		.sceneTween {
			background-size:cover;
			width:100%;
			height:rem(750px);
			display:block;
			margin:0 auto;
			background-repeat:no-repeat;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			&.sceneTween1 {
				background-image: url('../img/background/sceneTween-1.jpg');
			}
			&.sceneTween2 {
				background-image: url('../img/background/sceneTween-2.jpg');
			}
		}
	}
	.story {
		z-index:10;
		width:100%;
		margin:0 auto;
		background-color: rgb(240, 240, 240);
		.col:nth-child(1) {
			 margin-top:rem(-100px);
		}
		.col:nth-child(2) {
			 margin-top:rem(100px);
		}
		.innerBox {
			width:100%;
			height:auto;
			display:block;
			padding: rem(30px);
			margin-bottom:rem(30px);
			width:460px;
			.section-header {
				padding:rem(30px) 0 0;
				margin:0;
				.heading-2 {
					padding:rem(30px) 0 rem(20px);
				}
			}
			&.dark {
				background-color: rgb(34, 34, 34);
				border: solid 1px rgba(100, 100, 100, 0.5);
				.section-header {
					.heading-2 {
						color: rgb(255, 255, 255);
					}
				}
				.text {
					  color: $gray-color;
					  @include text16;
				}
			}
			&.white {
				background-color: rgb(255, 255, 255);
				display:block;
				.voucher {margin:rem(30px) auto rem(50px);background-image: url('../img/background/voucher.jpg');width:rem(202px);height:rem(233px);display:block;background-size:cover;}
				.drugstore_front {margin:rem(30px) 0 rem(50px);background-image: url('../img/background/drugstore_front.jpg');width:rem(450px);height:rem(284px);display:block;background-size:cover;margin:0 auto;}
				.section-header {
					h2 {
						color: $text-muted;
					}
				}
				.text {
					letter-spacing: rem(-1px);
					color: $text-muted;
					@include text16;
				}
			}
		}
	}
}