//
// brand-era
//
#era {
	background-color: rgb(51, 51, 51);
	width: 100%;
	height:auto;
	.section-header {
		padding-top: rem(120px);
		.overline {
			@extend %eng;
			text-transform: uppercase;
		}
		.text16 {
			width: rem(762px);
			height: rem(120px);
			color: $br-gray-color;
		}
	}

	.container-flex.col2 {
		&>.col:nth-child(1) {
			width: rem(900px);
			position: relative;
			article {
				background-color: rgb(255, 255, 255);
				margin: rem(60px) 0;
			}
			article.article_1962 {
				.inner {
					padding: rem(40px);
				}
				height: rem(600px);
			}
			article.article_1967 {
				height: rem(600px);
			}
			article.article_1970 {
				height: rem(600px);
			}
			article.article_2b {
				height: rem(260px);
			}
			article.article_1975 {
				height: rem(600px);
			}
			article.article_1980 {
				height: rem(600px);
			}
			article.article_1990 {
				height: rem(600px);
			}

		}
		&>.col:nth-child(2) {
			width: rem(180px);
			height:100%;
			.discography {
				width: rem(1px);
				height: 100%;
				background-color: rgb(255, 255, 255);
				margin:0 auto;
			}

		}
	}
}