//
// injoongang
//
#injoongang {
    @extend %section-margin-mixed;
    .type-b {
    	.title {
		font-size: rem(26px);
	    letter-spacing: rem(-1px);
		color: rgb(17, 17, 17);
		}
		.text {
			@include text16;
		}
	}
	.article_injoonang {
		@extend %clearfix;
		display:flex;
		flex-wrap: wrap;
		.grid {
			float:left;
			width: rem(346px);
			height: rem(223px);
			display:block;
			text-align: center;
			margin-bottom:20px;
			.number {
				font-family: Montserrat;
				font-size: rem(34px);
				color: $gray-color;
			}
			.title {
				color: $br-gray-color;
				font-size: rem(18px);
				line-height: 1.44;
			}
			.btn-readmore {
				width: 120px;
				height: 30px;
				object-fit: contain;
				border-radius: 100px;
				background-color: rgba(216, 216, 216, 0.1);
				border: solid 1px rgba(200, 200, 200, 0.5);
				display:inline;
				span.btn-text {
					font-family: Montserrat;
					font-size: rem(14px);
					color: $br-gray-color;
				}
			}
			&:nth-child(3n-1) {
				margin:0 21px;
				
			}
		}
	}
}