// Slider
//
//

// owl carousel
.owl-nav {
  > * {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    background: rgba(255,255,255,.4);
    font-size: 0;
    color: transparent;
    text-align: center;
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 30px;
      margin-top: 15px;

    }
  }
  .disabled {
    opacity: .1;
    cursor: default !important;
  }
  .owl-prev {
    right: 100%;
    &:before {
      transform: translate(-4px, 0);
    }
  }
  .owl-next {
    left: 100%;
    &:before {
      transform: translate(4px, 0) rotate(180deg);
    }
  }
  &.disabled {
    display: none;
  }
}

.owl-dots {
  margin-top: 40px;
  text-align: center;
  font-size: 0;
  .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 7px;
    border-radius: 50%;
    background-color: $text-color-silver;
    cursor: pointer;
  }
}

